html {
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgba(147, 206, 222, 1);
	background-repeat: no-repeat;
	background: -moz-linear-gradient(left, rgba(147, 206, 222, 1) 0%,
		rgba(73, 165, 191, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147, 206, 222,
		1)), color-stop(100%, rgba(73, 165, 191, 1)));
	background: -webkit-linear-gradient(left, rgba(147, 206, 222, 1) 0%,
		rgba(73, 165, 191, 1) 100%);
	background: -o-linear-gradient(left, rgba(147, 206, 222, 1) 0%,
		rgba(73, 165, 191, 1) 100%);
	background: -ms-linear-gradient(left, rgba(147, 206, 222, 1) 0%,
		rgba(73, 165, 191, 1) 100%);
	background: linear-gradient(to right, rgba(147, 206, 222, 1) 0%,
		rgba(73, 165, 191, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede',
		endColorstr='#49a5bf', GradientType=1);
}

body {
	margin: 0;
	font-size: 18pt;
}

#main {
	padding: 10px;
	max-width: 1500px;
	margin: 0 auto;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background: white;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	color: rgb(105, 109, 119);
	overflow: hidden;
	transition: all .5s linear;
}

.header-item {
	flex: 0 1 auto;
	flex-basis: 1%;
	flex-grow: 1;
	white-space: nowrap;
}

.search-item input[type="text"] {
	font-size: 18pt;
	background: none;
	border: none;
	color: rgb(105, 109, 119);
}

::placeholder {
	color: rgb(154, 159, 168);
	opacity: 1;
}

.header-item button {
	background: none;
	border: none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	color: rgb(105, 109, 119);
}

.header-item i {
	color: rgba(147, 206, 222, 0.75);
	font-size: 18pt;
	padding: 6px 6px;
	text-shadow: 0px 1px 1px #fff, 0 0 0 #000, 0px 0px 0px transparent;
}

*:focus {
	outline: none;
}

.header-item.search-item {
	flex-basis: 99%;
	flex-grow: 1;
	white-space: nowrap;
}

.header-item button {
	padding: 0;
}

fas.fa-sign-out-alt {
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#notes-filter {
	width: 100%;
}

#note-container {
	margin: 20px 10px;
}

.note {
	background: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	color: rgb(105, 109, 119);
	transition: all .5s linear;
	margin-bottom: 20px;
}

.controls {
	float: right;
}

header>a>i {
	color: rgba(91, 170, 75, 0.75);
	font-size: 20pt;
	padding: 15px;
	text-shadow: 0px 1px 1px #fff, 0 0 0 #000, 0px 0px 0px transparent;
	background: rgba(157, 221, 144, 0.75);
}

header>a:hover>i{
	text-shadow: none;
	color: rgba(134,191,119, 0.75);
}

header>a:active>i{
	color: rgba(91, 170, 75, 0.75);
	text-shadow: 0px 1px 1px #fff, 0 0 0 #000, 0px 0px 0px transparent;
}

header a {
	cursor: pointer;
}

.padding {
	padding: 10px;
}

.dropdown {
	padding: 5px 10px;
	color: rgba(147, 206, 222, 0.75);
	text-shadow: 0px 1px 1px #fff, 0 0 0 #000, 0px 0px 0px transparent;
}

.save {
	padding: 5px 10px;
	color: rgba(147, 206, 222, 0.75);
	text-shadow: 0px 1px 1px #fff, 0 0 0 #000, 0px 0px 0px transparent;
}

.delete {
	padding: 5px 10px;
	color: rgba(234, 89, 79, 0.75);
	text-shadow: 0px 1px 1px #fff, 0 0 0 #000, 0px 0px 0px transparent;
}

.note a{
	cursor: pointer;
}


.save-link:hover .save{
	text-shadow: none;
}

.save-link:active .save{
	text-shadow: 0px 1px 1px #fff, 0 0 0 #000, 0px 0px 0px transparent;
}

.dropdown-link:hover .dropdown{
	text-shadow: none;
}

.dropdown-link:active .dropdown{
	text-shadow: 0px 1px 1px #fff, 0 0 0 #000, 0px 0px 0px transparent;
}

.delete-link:hover .delete{
	text-shadow: none;
}

.delete-link:active .delete{
	text-shadow: 0px 1px 1px #fff, 0 0 0 #000, 0px 0px 0px transparent;
}

.logout-link:hover .logout{
	text-shadow: none;
}

.logout-link:active .logout{
	text-shadow: 0px 1px 1px #fff, 0 0 0 #000, 0px 0px 0px transparent;
}

.delete-link, .save-link{
	background: none;
	border: none;
	font-size: 18pt;
	padding: 0;
}

.note-title{
	width:75%;
	border: none;
}

.note-text{
	width:100%;
	border-style: none; 
    border-color: Transparent; 
    resize: vertical;
    min-height: 23px;
}

