html {
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgba(147, 206, 222, 1);
	background-repeat: no-repeat;
	background: -moz-linear-gradient(left, rgba(147, 206, 222, 1) 0%,
		rgba(73, 165, 191, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147, 206, 222,
		1)), color-stop(100%, rgba(73, 165, 191, 1)));
	background: -webkit-linear-gradient(left, rgba(147, 206, 222, 1) 0%,
		rgba(73, 165, 191, 1) 100%);
	background: -o-linear-gradient(left, rgba(147, 206, 222, 1) 0%,
		rgba(73, 165, 191, 1) 100%);
	background: -ms-linear-gradient(left, rgba(147, 206, 222, 1) 0%,
		rgba(73, 165, 191, 1) 100%);
	background: linear-gradient(to right, rgba(147, 206, 222, 1) 0%,
		rgba(73, 165, 191, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede',
		endColorstr='#49a5bf', GradientType=1);
}

body {
	margin: 0;
}

.login {
 	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.username, .password {
	background: white;
}

.username, .password {
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.username i, .password i {
	color: rgba(147, 206, 222, 0.75);
	font-size: 18pt;
	padding: 5px;
    text-shadow: 0px 1px 1px #fff, 0 0 0 #000, 0px 0px 0px transparent;
}

.username input[type="text"], .password input[type="password"] {
	font-size: 18pt;
	background: none;
	border: none;
	color: rgb(105, 109, 119);
}

*:focus {
	outline: none;
}

.message {
	text-align: center;
	color: #ff2e3a;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

::placeholder {
  color: rgb(154, 159, 168);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgb(154, 159, 168);
}

::-ms-input-placeholder { 
  color: rgb(154, 159, 168);
}

.swal-button--Cancel{
	background: #ED4337;
}

.swal-button--Cancel:hover{
	background: #d82013 !important;
}